<footer class="footer">
    <div class="footer-content">
      <p>© 2025 Soul Dance — Todos os direitos reservados</p>
      
      <div class="social-icons">
        <a href="https://www.instagram.com/balletcorpoecia/" target="_blank" aria-label="Instagram">
          <img src="img/insta.png" alt="">
        </a>
        <a href="api.whatsapp.com/send?phone=5571999616997" target="_blank" aria-label="WhatsApp">
          <img src="img/wpp.jpg" alt="WhatsApp">
        </a>
      </div>
    </div>
  </footer>
  