<footer class="footer">
    <div class="footer-content">
      <p>© 2025 Ballet Corpo&Cia</p>
      
      <div class="social-icons">
        <a href="https://www.instagram.com/balletcorpoecia/" target="_blank" aria-label="Instagram">
          <img src="img/insta.png" alt="">
        </a>
        <a href="https://l.instagram.com/?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D5571999616997%26utm_source%3Dig%26utm_medium%3Dsocial%26utm_content%3Dlink_in_bio%26fbclid%3DPAZXh0bgNhZW0CMTEAc3J0YwZhcHBfaWQMMjU2MjgxMDQwNTU4AAGnWZwJfeBxh5N_sRihIwo0-ZeTwV7xrLMZVPjoUOBgfbTz9osx8zcGMCU0yhs_aem_-4QX8FtWyTLDJkQVJba1PA&e=AT1biI2YPKs8MrCVJ6LiSvFGMd5mpjDva-8BRL0Vk9P7ikHwfhRe7MotVLn9Fdvw-VzWvR6r0pXhaWpVMg29Gpdczl67KlLrAoahp6sZiA"
         target="_blank" aria-label="WhatsApp">
          <img src="img/wpp.jpg" alt="WhatsApp">
        </a>
      </div>
    </div>
  </footer>
  