<nav class="navbar">
    <div class="logo">
      <a routerLink="/home">Ballet Corpo & Cia</a>
    </div>
  
    <div class="menu-icon" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  
    <ul [class.active]="menuAberto">
      <li><a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Home</a></li>
      <li><a routerLink="/sobre" routerLinkActive="active" (click)="closeMenu()">Sobre</a></li>
      <li><a routerLink="/aulas" routerLinkActive="active" (click)="closeMenu()">Aulas</a></li>
      <li><a routerLink="/contato" routerLinkActive="active" (click)="closeMenu()">Contato</a></li>
      <li><a routerLink="/login" class="login-btn" (click)="closeMenu()">Login</a></li>
    </ul>
  </nav>
  