<div class="professora-container">

  <div class="professora-content">

    <div class="professora-foto">
      <img src="assets/img.prof.jpeg" alt="Professora Emily" class="foto-prof">
    </div>

    <div class="professora-info">
      <h2>Professora</h2>

      <p>
        Me chamo <strong>Emily de Jesus das Virgens</strong>, nasci em 
        <strong>29 de março de 1993</strong>, em Feira de Santana – Bahia.
        Pratico dança desde os 3 anos e iniciei no balé aos 15. Aos 17 anos,
        comecei minha formação para lecionar balé clássico e, desde então,
        dedico minha vida ao ensino, à arte e ao desenvolvimento das minhas alunas.
      </p>
    </div>

  </div>

</div>
